<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="text-center">
                  <%=title%>
              </div>
            </div>
            <div class="list-group">
              <% ret.forEach((val)=>{ %>
                <div class="list-group-item">
                  id=<%=val.id%>,标题是<%=val.title%>

                  时间是 <%=helper.format(val.createAt) %>
                </div>
              <%})%>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>